.message-history {
    overflow-y: auto;
    max-height: 400px;
}

.message {
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Стиль для отправленных сообщений */
.message.sent {
    background: linear-gradient(135deg, #4caf50, #388e3c); /* Зеленый градиент */
    color: white; /* Цвет текста */
    align-self: flex-end;
}

/* Стиль для полученных сообщений */
.message.received {
    background: linear-gradient(135deg, #dcdbdb, #bdbdbd); /* Светло-серый градиент */
    color: black; /* Цвет текста */
    align-self: flex-start;
}