.message-history {
    overflow-y: auto;
    max-height: 400px;
}

.message {
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    display: inline-block;
    font-size: 16px;
}

.message.sent {
    background: linear-gradient(135deg, #4848d6, #294eb4); /* Новый градиент для отправленных сообщений */
    color: white; /* Цвет текста */
    align-self: flex-end;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.message.received {
    background: linear-gradient(135deg, #7e7e7e, #d1d1d1); /* Новый градиент для полученных сообщений */
    color: black; /* Цвет текста */
    align-self: flex-start;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}